{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif
%}
<div class="overlay"></div>
<div class="cover-card table-cell table-bottom">
  {% if author.avatar %}
  <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar"> {% endif %}
  <span class="author_name">{{ author.name }}</span>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a><strong>Blog posts</strong><span><br /></span></a>
      </li>
    </ul>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/developing/">all</a><span> •</span>
      </li>
      <li class="nav-item"><a href="/dnd/">Dungeons & Dragons</a><span> •</span></li>
      <li class="nav-item"><a href="/developing/">developing</a><span> •</span></li>
    </ul>
    <ul class="nav-list">
      <li class="nav-item">
        <a><strong>For my D&D players</strong><span><br /></span></a>
      </li>
    </ul>
  </nav>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/for-the-players/library">Etienne's Library</a>
      </li>
    </ul>
  </nav>
  {% include social-links.html %}
</div>