/* LAYOUT CSS */
.overlay{
  display: initial;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -10;
  @include media-query($medium-screen){
    z-index: 10;
    width: 25%;
    height: 100%;
  }
}

.cover {
  background-color: rgba(0,0,0, 0.3);
  position: fixed;
  text-align: center;
  width: 100%;
  min-height: 400px;
  padding: 30px 20px 20px;
  background-image: url("../img/topbar-bg.jpg");
  z-index: 1;
  @include media-query($small-screen) {
    z-index: 1;
    background-position: center;
    padding: 30px 50px;
  }
  @include media-query($medium-screen) {
    background-image: url("../img/sidebar-bg.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    position: initial;
    width: 100%;
  }
}
.cover-card {
  color: $white;
  z-index: 100;
  @include media-query($medium-screen){
    position: fixed;
    width: 25%;
    left: 0;
    top: 5%;
  }
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
    border: {
      color: white;
      width: 3px;
      style: solid;
    };
  }
  .author_name {
    display: block;
    color: #dce3ef;
    font-size: 3em;
    font-weight: 700;
    text-transform: lowercase;
    font-style: italic;
    @include text-shadow;
  }
  .author_job {
    display: block;
    color: $primary;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -10px auto 20px;
    @include text-shadow;
  }
  .author_bio {
    display: block;
  }
  @include media-query($medium-screen) {
    margin: 0 auto;
    padding: 0 20px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-left: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 85%;
      @include text-shadow;
      color: $secondary;
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
      }
    }
  }
}
