---
layout: default
---

<main>
  <article id="post">
    <header class="post-header">
      <h2 title="{{ page.title }}">{{ page.title }}</h2>
      <p class="post-meta">
        <span class="post-date">
          {{ page.date | date: "%-d %b %Y" }}
        </span>
        •
        {% include read_time.html %}
      </p>
    </header>

    <section class="post-content">
      {{ content }}
    </section>
  </article>

{% if site.owner.disqus-shortname and page.comments == true %}
  <div id="disqus_thread"></div>
  {% include disqus.html %}
  {% endif %}
</main>
